{% extends 'main_master.html' %}
{% block content %}<br><br><br>
<div class="container text-center">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
    <div class="h2">Update Profile</div>
            {% if su %}
	<form method="post" enctype="multipart/form-data" >
        {% csrf_token %}

		<div class="form-content">
		<div class="input-group">
				<span class="input-group-addon" id="first_name">First Name</span>
				<input type="text" class="form-control"  aria-describedby="first_name" name="user_fname" value="{{su.user_fname}}">
			</div>
            <div class="input-group">
				<span class="input-group-addon" id="last_name">Last Name</span>
				<input type="text" class="form-control" aria-describedby="last_name" name="user_lname" value="{{su.user_lname}}">
			</div>
            <div class="input-group">
				<span class="input-group-addon" id="mobile">Mobile</span>
				<input type="text" class="form-control"  aria-describedby="mobile" name="user_mobile" value="{{su.user_mobile}}">
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="dob">Date of Birth</span>
				<input type="date" class="form-control" aria-describedby="dob" name="user_dob" value="{{su.user_dob}}">
			</div>
            <div class="input-group">
                <a href="/media/{{su.user_image}}"><img height="60" width="60" src="/media/{{su.user_image}}"></a>
				<span class="input-group-addon" id="image">Change Image</span>
				<input type="file" class="form-control" placeholder="Select File" aria-describedby="image" name="user_image">

			</div>
            <div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Update Profile</button>
						</span></div>
            <div class="input-group">
						<span class="input-group-btn">
							<a href="/user/change_password"><button class="btn btn-default" type="button">Change Password</button></a>
                        </span></div>
			</div>

        {% if success %}
        <script>alert(Password Changed Successfully.);</script>
        {% endif %}

         </form>
            {% endif %}

        {% if cp %}
            <form method="post" >
        {% csrf_token %}
                {% if success == False %}
            <p style="color:red">Please enter the correct Password!</p>
            {% endif %}
        <div class="input-group">

				<span class="input-group-addon" id="password">Password</span>
				<input type="password" class="form-control" placeholder="Password" aria-describedby="password" required=" " name="user_password" id="pass">
				<span  toggle="#pass" class="input-group-addon toggle-password field-icon"><i class="fa fa-eye"></i></span>
			</div>
        <div class="input-group">
				<span class="input-group-addon" id="new_password">New Password</span>
				<input type="password" class="form-control" placeholder="Password" aria-describedby="new_password" required=" " name="new_password" id="npass">
				<span  toggle="#pass" class="input-group-addon toggle-password field-icon"><i class="fa fa-eye"></i></span>
			</div>
        <div class="input-group">
				<span class="input-group-addon" id="cnpassword">Confirm  New Password</span>
				<input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="cnpassword" required=" " id="cnpass">
			</div>
        <div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Update Password</button>
						</span></div>
            </form>
        {% endif %}


   </div></div></div><br><br><br>
{% endblock content %}
{% block jquery %}
<script>
    var a = document.getElementById("npass");
	var b = document.getElementById("cnpass");

	function valPassword(){
	if(a.value != b.value){
	b.setCustomValidity("Passwords don't match");
	}
	else{
	b.setCustomValidity("");
	}}
	a.onchange = valPassword;
	b.onkeyup = valPassword;
</script>
{% endblock jquery %}