{% extends 'manager_master.html' %}
{% block content %}
<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">500 Error Page</h3>
				<div class="error-page">
					<div class="">
						<h2>500</h2>
					</div>
					<div class="">
					<h3><i class="fa fa-warning text-yellow"></i> Oops! Something Went Wrong.</h3>
		</div>
					<p>We could not find the page you were looking for. Please return to the Dashboard and try again.</p>
				</div>
			</div>
		</div>
{% endblock content %}