{% extends 'manager_master.html' %}
{% block content %}
<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h2 class="title1">View Brands</h2>
					<div class="panel-body widget-shadow">
						<table class="table">
                            {% if vb %}
							<thead>
								<tr>
								  <th>Brand ID</th>
								  <th>Brand Name</th>
								</tr>
							</thead>
                            {% for i in vb %}
							<tbody>
								<tr>
								  <th scope="row">{{i.brand_id}}</th>
								  <td>{{i.brand_name}}</td>
                                {% endfor %}
                                {% else %}
                                <div class="h4">No Data Found</div>
                                {% endif %}
                                </tr></tbody></table></div></div></div></div>
{% endblock content %}