{% extends 'main_master.html' %}
{% block content %}
<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="/mens">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Summer <span>Collection</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href="/mens">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="/mens">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Summer <span>Collection</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href="/mens">Shop Now </a>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Biggest <span>Sale</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="/mens">Shop Now </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
    </div>
	<!-- //banner -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/assets/images/bottom1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="/assets/images/bottom2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div>
		 </div>
    </div>
	<!-- schedule-bottom -->
	<div class="schedule-bottom">
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="/assets/images/mid.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid">
				<h3>Save up to <span>50%</span> in this week</h3>
				<p>Shop with Hoopla this week to Grab Amazing offers. Get Flat 50% off on selected products and Upto 50% off on other products. Happy Shopping with us!</p>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<h4>Customers</h4>
					<h5 class="counter">653</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-calendar-o" aria-hidden="true"></i>
					<h4>Events</h4>
					<h5 class="counter">823</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-shield" aria-hidden="true"></i>
					<h4>Awards</h4>
					<h5 class="counter">45</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //schedule-bottom -->
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="/womens">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="/assets/images/bb1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="/mens">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="/assets/images/bottom3.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href="/mens">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="/assets/images/bottom4.jpg" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 65%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
    </div>
</div>
<!--/grids-->
      <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="/womens"><img src="/assets/images/bot_1.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="/womens"><img src="/assets/images/bot_2.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>
<!--/grids-->
<!-- /new_arrivals -->
	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li> Men's</li>
							<li> Women's</li>
							<li> Bags</li>
							<li> Footwear</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->



						<div class="tab1">
							{% if prod %}
								{% for i in prod %}
										{% if i.cat_id_id == 1 %}
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-front">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-back">
											<!--div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div-->
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4>{{i.prod_name}}</h4>
										<div class="info-product-price">
											<span class="item_price">₹{{i.prod_price}}</span>
										</div>
										{% if request.session.role_id == 2 %}
										<form method="post">
											{% csrf_token %}
										<div class="select2-dropdown text-center">
										<select name="size_id">
											<option>Select Size</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select></div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="hidden" name="prod_id" value="{{i.prod_id}}">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
														</div>
											</form>
										{% else %}
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="button" value="Please Login First" class="button"/>
																</fieldset>
														</div>
										{% endif %}



									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							{% endif %}
						</div>
						<!--//tab_one-->
						<!--/tab_two-->
						<div class="tab2">
							{% if prod %}
								{% for i in prod %}
										{% if i.cat_id_id == 2 %}
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-front">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-back">
											<!--div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div-->
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4>{{i.prod_name}}</h4>
										<div class="info-product-price">
											<span class="item_price">₹{{i.prod_price}}</span>
										</div>
										{% if request.session.role_id == 2 %}
										<form method="post">
											{% csrf_token %}
										<div class="select2-dropdown text-center">
										<select name="size_id">
											<option>Select Size</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select></div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="hidden" name="prod_id" value="{{i.prod_id}}">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
														</div>
											</form>
										{% else %}
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="button" value="Please Login First" class="button"/>
																</fieldset>
														</div>
										{% endif %}


									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							{% endif %}
						</div>
					 <!--//tab_two-->
						<div class="tab3">
							{% if prod %}
								{% for i in prod %}
										{% if i.cat_id_id == 4 %}
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-front">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-back">
											<!--div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div-->
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4>{{i.prod_name}}</h4>
										<div class="info-product-price">
											<span class="item_price">₹{{i.prod_price}}</span>
										</div>
										{% if request.session.role_id == 2 %}
										<form method="post">
											{% csrf_token %}
										<div class="select2-dropdown text-center">
										<select name="size_id">
											<option>Select Size</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select></div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="hidden" name="prod_id" value="{{i.prod_id}}">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
														</div>
											</form>
										{% else %}
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="button" value="Please Login First" class="button"/>
																</fieldset>
														</div>
										{% endif %}

									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							{% endif %}
						</div>
						<div class="tab4">
							{% if prod %}
								{% for i in prod %}
										{% if i.cat_id_id == 3 %}
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-front">
										<img src="/media/{{i.prod_img1}}" alt="" class="pro-image-back">
											<!--div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div-->
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4>{{i.prod_name}}</h4>
										<div class="info-product-price">
											<span class="item_price">₹{{i.prod_price}}</span>
										</div>
										{% if request.session.role_id == 2 %}
										<form method="post">
											{% csrf_token %}
										<div class="select2-dropdown text-center">
										<select name="size_id">
											<option>Select Size</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select></div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="hidden" name="prod_id" value="{{i.prod_id}}">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
														</div>
											</form>
										{% else %}
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
																<fieldset>
																	<input type="button" value="Please Login First" class="button"/>
																</fieldset>
														</div>
										{% endif %}


									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- //new_arrivals -->
	<!-- /we-offer -->
		<div class="sale-w3ls">
			<div class="container">
				<h6>We Offer Flat <span>40%</span> Discount</h6>

				<a class="hvr-outline-out button2" href="single.html">Shop Now </a>
			</div>
		</div>
	<!-- //we-offer -->
<!--/grids-->
<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="w3layouts_mail_grid">
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						<p>Free Shipping on all orders above 500 INR</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-headphones" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>24/7 SUPPORT</h3>
						<p>Order anytime, anyday as we provide full 24/7 support</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>MONEY BACK GUARANTEE</h3>
						<p>Incase of any kind of discrepency, the money will be returned</p>
					</div>
				</div>
					<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE GIFT COUPONS</h3>
						<p>Get free gift coupons for your next purchase on a purchase of INR 2000 and above</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<!--grids-->
{% endblock content %}